USE [master]
GO
/****** Object:  Database [GraceNotesDB]    Script Date: 02-02-2024 01:55:23 AM ******/
CREATE DATABASE [GraceNotesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GraceNotesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GraceNotesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GraceNotesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GraceNotesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GraceNotesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GraceNotesDB]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 02-02-2024 01:55:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](255) NULL,
	[Type] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK__Item__3214EC072E6DCCF3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 02-02-2024 01:55:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Desc] [varchar](2500) NULL,
	[ItemId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TodoItem]    Script Date: 02-02-2024 01:55:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TodoItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Desc] [varchar](255) NULL,
	[Status] [bit] NULL,
	[ItemId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02-02-2024 01:55:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Password] [varchar](255) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([Id], [Title], [Type], [CreatedBy], [CreatedOn], [UpdatedOn]) VALUES (1, N'Item1', 1, 2, CAST(N'2023-12-11T14:38:22.643' AS DateTime), CAST(N'2023-12-11T14:38:22.643' AS DateTime))
INSERT [dbo].[Item] ([Id], [Title], [Type], [CreatedBy], [CreatedOn], [UpdatedOn]) VALUES (2, N'Item2', 2, 2, CAST(N'2023-12-11T14:38:22.643' AS DateTime), CAST(N'2023-12-11T14:38:22.643' AS DateTime))
INSERT [dbo].[Item] ([Id], [Title], [Type], [CreatedBy], [CreatedOn], [UpdatedOn]) VALUES (3, N'Item3', 1, 2, CAST(N'2023-12-11T14:38:22.643' AS DateTime), CAST(N'2023-12-11T14:38:22.643' AS DateTime))
SET IDENTITY_INSERT [dbo].[Item] OFF
GO
SET IDENTITY_INSERT [dbo].[Notes] ON 

INSERT [dbo].[Notes] ([Id], [Desc], [ItemId]) VALUES (1, N'Note 1 sample description', 1)
INSERT [dbo].[Notes] ([Id], [Desc], [ItemId]) VALUES (2, N'Note 2 sample description', 3)
INSERT [dbo].[Notes] ([Id], [Desc], [ItemId]) VALUES (3, N'Note 3 sample description', 4)
SET IDENTITY_INSERT [dbo].[Notes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [IsDeleted]) VALUES (1, N'GuestUser', N'guestUser@guest.com', N'##RandomHash##', 0)
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [IsDeleted]) VALUES (2, N'GuestUser2', N'guestUser2@guest.com', N'##RandomHash2##', 0)
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [IsDeleted]) VALUES (3, N'abc', N'string', N'string', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [df_ConstraintNAme]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK__Item__CreatedBy__5441852A] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK__Item__CreatedBy__5441852A]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK__Notes__ItemId__5535A963] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK__Notes__ItemId__5535A963]
GO
ALTER TABLE [dbo].[TodoItem]  WITH CHECK ADD  CONSTRAINT [FK__TodoItem__ItemId__5629CD9C] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[TodoItem] CHECK CONSTRAINT [FK__TodoItem__ItemId__5629CD9C]
GO
USE [master]
GO
